{% load static from staticfiles %}
<h2>WiFi</h2>
<div class="two-col">
  <ul>
    <li><strong>UTFPR Campus:</strong></li>
    <li><strong>Network:</strong> DebConf</li>
    <li><strong>Password:</strong> DebConf.*2019</li>
  </ul>
  <ul>
    <li><strong>Hotel Nacional Inn:</strong></li>
    <li><strong>Network:</strong> DEBCONF19-HOTEL</li>
    <li><strong>Password:</strong> buster19</li>
  </ul>
</div>
<h2 class="tight">Venues in the Nacional Inn</h2>
<h3>Rua Lourenço Pinto 456</h3>
<p>
  The conference is also using space at the Hotel Nacional Inn, 1 block away.
  This is open to all conference attendees.
</p>
<p>
  A conferência também está utulizando espaços no Hotel Nacional Inn, a 1 guadra.
  Eles são abertos a todos os participantes.
</p>
<ul>
  <li><strong>Quiet Hacklab:</strong> 12th Floor</li>
  <li><strong>Noisy Hacklab:</strong> 12th Floor</li>
  <li><strong>Super Noisy Hacklab:</strong> 13th Floor</li>
  <li><strong>Bar:</strong> 13th Floor</li>
  <li><strong>Swimming Pool:</strong> 13th Floor</li>
</ul>
<h2>Useful Links</h2>
<ul>
  <li><strong>Website:</strong> deb.li/dc19</li>
  <li><strong>Wiki:</strong> deb.li/dc19wiki</li>
  <li><strong>Code of Conduct:</strong> deb.li/dcoc</li>
</ul>
